

html{
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

#title  h1{
    font-size: 4rem;
}

#img_div{
    background: white;
 max-width:1200px;
margin:auto;
}

img{
width:100%;
}

#img-caption{
    padding: 1rem;
}

#tribute-info{
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li {
    margin:16px 0;
}

ul li a{
    text-decoration: none;
    color:#333333;

}
strong{
    font-weight: bold;
    color: black;
}
blockquote{
    max-width: 550px;
    font-style:italic;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
 cite{
    font-style:italic;
    text-align: left;
}